[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Mama
GenericName=Mama
Comment=Voice driven PC Controller
Icon=/usr/share/mama/resources/icons.png
Exec=/usr/share/mama/mama.py
Terminal=false
StartupNotify=false
Categories=Application