[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=mama
GenericName=mama
Comment=Voice driven PC Controller
Icon=/usr/share/mama/resources/icons.png
Exec=/usr/share/mama/mama.py
Terminal=false
StartupNotify=false
Categories=Application
Name[en_US]=mama.desktop
