[Desktop Entry]
Name=Mama
Comment=Voice driven Linux OS controller
Exec=python3 /usr/share/mama/mama.py
Icon=/usr/share/mama/resources/icons.png
Terminal=false
Type=Application
Categories=Utility;Application;