[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Mama Manager
GenericName=Mama Manager
Comment=mama manager
Icon=/usr/share/mama/resources/icons.png
Exec=python3 /usr/share/mama/mama-manager.py
Terminal=false
StartupNotify=false
Categories=Application